.banner{
    background-image: url("../../../assets/images/banner.jpg");
    background-size: contain;
    color: white;
    font-family: "roboto";
}

.bannerMain{
    height: 12vw;
    display: flex;
    flex-direction: column;
    padding-top: 6vw;
    justify-content: "space-around";
    color: white;
}

.bannerHeading{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}